data/
iframe_figures/
logs/
mlruns/
assets/
extensions_vsix/
__pycache__/

# ignore virtual environment
.venv/
# ignore docs builds
docs/build/
docs/_build/
# ignore package builds
dist/

panel_app.py
styles.css

vizgen_mouse_stst_raw_data.py
data_changes.py

dashboard_test.py
streamlit_config.yaml
test_github_copilot.py
test_napari.py
test_*.py
test_*.html
.ipynb_checkpoints/
.vscode/
.virtual_documents
.lsp_symlink
.mypy_cache